.container {
  min-height: 100vh;
  width: 100%;
  padding: 5em 0 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  carrosel imagens */
  /* overflow: auto hidden;
  scroll-snap-type: x mandatory;
  margin: 0 5em 0; */
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4em 0;
  padding: 3em;
  /* carrosel imagens */
  /* flex-shrink: 0;
  scroll-snap-align: center; */
}

@media only screen and (max-width: 850px) {
  .cover img {
    width: 650px;
    height: 364px;
  }
}

@media only screen and (max-width: 750px) {
  .cover img {
    width: 600px;
    height: 337px;
  }
}

@media only screen and (max-width: 700px) {
  .cover img {
    width: 500px;
    height: 281px;
  }
}

@media only screen and (max-width: 600px) {
  .cover img {
    width: 400px;
    height: 225px;
  }
}

@media only screen and (max-width: 500px) {
  .cover img {
    display: none;
  }

  .cover a {
    margin-top: 0;
  }

  .container h1 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 340px) {
  .container h1 {
    font-size: 2em;
  }
}
