.container {
  width: 100%;
  padding-bottom: 5em;
}

.navbar {
  position: relative;
  width: 0;
  left: 30px;
  top: 30px;
}

.back_icon {
  height: 70px;
  width: 70px;
}


.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  padding-bottom: 5em;
}

.project_links {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: 3em 0;
}

.project_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_link p {
  margin-right: 1em;
}

.project_text {
  max-width: 80vw;
}

.container img {
  width: 750px;
  height: 421px;
}



@media only screen and (max-width: 850px) {
  .container img {
    width: 650px;
    height: 364px;
  }
}

@media only screen and (max-width: 750px) {
  .container img {
    width: 600px;
    height: 337px;
  }
}

@media only screen and (max-width: 700px) {
  .container img {
    width: 500px;
    height: 281px;
  }
}

@media only screen and (max-width: 600px) {
  .container img {
    width: 400px;
    height: 225px;
  }

  .back_icon {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .container img {
    width: 350px;
    height: 197px;
  }
}

@media only screen and (max-width: 510px) {
  .project_link {
    display: flex;
    flex-direction: column;
  }

  .project_link a {
    margin: 15px;
  }

  .container h1 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 390px) {
  .container img {
    width: 300px;
    height: 168px;
  }
}

@media only screen and (max-width: 340px) {
  .container h1 {
    font-size: 2em;
  }

  .container img {
    display: none;
  }
}
